body
{
        background-image:url(/media/img/gameCG/BG_Inner.png);
    background-size:cover;
    position:sticky;
    top:0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#gameplay-container-row
{
    display:flex;
    flex-direction: row;
    align-items: center;
}
#gameplay-container-column
{
    display:flex;
    flex-direction: column;
}