#histoire-img
{
    width: 30%;
    min-width: 30%;
    height: auto;
    margin:30px;
    border-radius: 3px;
}
#histoire-bloc-row
{
    display:flex;
    align-items: center;
    margin-left:30px;
    margin-right:30px;
}
#histoire-bloc-column
{
    display:flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (width <= 768px){
    #histoire-bloc-row{flex-direction: column;}
    #histoire-img{width:100%;}
}
body
{
    background-image:url(/media/img/gameCG/BG_Inner.png);
    background-size:cover;
    position:sticky;
    top:0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0%;
}
main
{
    margin-left: 10%;
    margin-right: 10%;
    padding-left:10px;
    padding-right:10px;
    background-color: rgba(124, 124, 124, 0.178);
    border-radius: 5px;
    padding-top: 2px;
}