body
{
    background-color: #373737;
}
#body-histoire
{
    background-image:url(/media/img/gameCG/BG_Inner.png);
    background-size:cover;
    position:sticky;
    top:0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#a1
{
    color: #FFBB00;
    padding:5px;
}
#a2
{
    color: #FFBB00;
    padding:5px;
}
#MainImage
{
    background-image: url(/media/img/fixed-point-wallpapers-1920x1080.webp);
    color: azure;
    background-repeat: no-repeat;
    background-size:contain;
    justify-content:center;
    max-width: 100%;
    height: fit-content;
    background-position: center;

}
#MainImageText
{
    font-size: 8vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    line-height: 6;
}
header
{
    background-color: rgb(44, 44, 44);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    position:sticky;
    top: 0;
    align-items: center;
}
p1
{
    color:white
}
h1
{
    color:white;
}
h2
{
    color:white;
}
h3
{
    color:white;
}
#spoilertest
{
    background: black;
    color:transparent;
    cursor:help;
    user-select: none;
    transition:  background-color 0.3s ease 0.2s, color 0.2s ease 0.25s;
}
#spoilertest:hover,
#spoilertest:focus
{
    background: transparent;
    color:white;
}
#logo
{
    height:5dvh;
}
#FactionLogo
{
    height:30dvh;
    border-style: solid;
    border-radius: 5px;
}
#histoire-img
{
    width: 50%;
    height: auto;
    margin:30px;
    border-radius: 3px;
}
#histoire-bloc-row
{
    display:flex;
    align-items: center;
    margin-left:30px;
    margin-right:30px;
}
#histoire-bloc-column
{
    display:flex;
    align-items: center;
    flex-direction: column;
}
main
{
    margin-left: 10%;
    margin-right: 10%;
    padding-left:10px;
    padding-right:10px;
    background-color: rgba(59, 59, 59, 0.877);
    border-radius: 5px;
}
footer
{
    background-color: rgb(44, 44, 44);
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    color: aliceblue;
}

@media screen and (width <= 768px){
    #histoire-bloc-row{flex-direction: column;}
}