body
{
    background-color: #373737;
}
#a1
{
    color: #FFBB00;
    padding:5px;
}
#MainImage
{
    background-image: url(/media/img/fixed-point-wallpapers-1920x1080.webp);
    color: azure;
    background-repeat: no-repeat;
    background-size:contain;
    display:flex;
    justify-content:center;
    max-width: 100%;
    height: 100dvh;

}
#MainImageText
{
    font-size: 8vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    line-height: 6;
}
header
{
    background-color: rgb(44, 44, 44);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    position:sticky;
    top: 0;

}
p1
{
    color:white
}
h2
{
    color:white;
}
#spoilertest
{
    background: black;
    color:transparent;
    cursor:help;
    user-select: none;
    transition:  background-color 0.3s ease 0.2s, color 0.2s ease 0.25s;
}
#spoilertest:hover,
#spoilertest:focus
{
    background: transparent;
    color:white;
}